.div-1-tables-header {
    width: 50%;
}

.div-2-tables-header {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
}

.d-flex-header-table {
    display: flex;
}

.form-control {
    color: #000 !important;
}

.form-select {
    color: #000 !important;
}

td {
    white-space: normal !important;
}

.center-vertical {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table {
    width: 100% !important;
}

@media (max-width: 991px) {
    .div-1-tables-header {
        width: 100% !important;
    }

    .div-2-tables-header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .d-flex-header-table {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 991px) {
    .responsive-navbar.navbar .navbar-collapse {
        background: linear-gradient(45deg, rgb(53, 53, 53), #DA251D) !important;
    }
}

.main-header {
    background: linear-gradient(45deg, rgb(53, 53, 53), #DA251D) !important;
}

.main-content:after {
    background: linear-gradient(45deg, rgb(53, 53, 53), #DA251D) !important;
}

.main-header.side-header.fixed-header {
    background: linear-gradient(45deg, #DA251D, rgb(53, 53, 53)) !important;
}

.app-sidebar .slide.is-expanded .side-menu__item {
    background: linear-gradient(45deg, rgb(53, 53, 53), #DA251D) !important;
}

.side-menu__item.active,
.side-menu__item:hover,
.side-menu__item:focus {
    background: linear-gradient(45deg, rgb(53, 53, 53), #DA251D) !important;
}

#back-to-top {
    background: linear-gradient(45deg, rgb(53, 53, 53), #DA251D) !important;
}

.bg-primary-gradient {
    background: linear-gradient(45deg, rgb(65, 65, 65), #DA251D) !important;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active {
    background-color: #3858f9 !important;
    border-color: #3858f9 !important;
}

.main-content-body-contacts {
    display: block !important;
}

.slide:hover .side-menu__item {
    background: linear-gradient(45deg, rgb(53, 53, 53), #DA251D) !important;
}

#img_tbl_resize {
    width: 100px;
    height: 100px;
}